body{
	background-image: url(image3.jpg);
	background-size: cover;
	background-position: center;
}
style{
	font-size: 2em;
}
h1{
	color: grey;
	text-shadow: 3px 3px grey rgba(255, 255, 255, 0.5);
}
p{
	background-color: black;
	font-size: 1.5em;
	font-family: georgia;
	font-style: italic;
	text-align: center;
	padding: 0px;
	border-color: grey rgba(0, 0, 0, 0.4);
	border-radius: 20px;
	margin-bottom: 30px;
}

.col{
	margin: 400px auto;
	margin-bottom: 30px;
	text-align: center;
}
.btn-middle{
	color: white;
	margin-top: 200px;
}
.btn{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	border-color: red;
	border-radius: 20px 20px;
	transition: 1s;

}
.btn:hover{
	color: white;
	background-color: orangered;
	transform: scale(1.1);
}
